$textColor: #ffffff;
$formTextColor: #212529;
$orangeColor: #e05433;
$formColor: #ced4da;
$fontFamily: Roboto;
$whitebuttonBorder: 1px solid #ced4da;
$orangebuttonBorder: 1px solid #e05433;
$darkbuttonBorder: 1px solid rgba(0, 0, 0, 0.125);
$centerdTextAlign: center;
$leftTextAlign: left;
