body {
    max-width: 1920px;
    overflow-x: hidden;
  }
  .rect {
    display: grid;
    grid-template-columns: auto auto;
    background-color: #e05433;
    height: 56px;
    margin: 0;
    align-items: flex-start;
  }
  .dev {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    align-items: center;
  }
  .dev h4 {  
    width: 109px;  
    font-family: Roboto;
    font-weight: normal;  
    color: #ffffff;
  }
  .devIcon img {
    width: 36px;
    height: 29px;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
  }
  .navLink {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    justify-content: center;
    align-items: center;
  }
  .nav {
    margin-right: 10px;
  }
  .navLink a {
    text-decoration: none;
  }
  .navLink h3 {
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    height: 24px;
    top: 16px;
    color: rgba(255, 255, 255, 0.5);
  }
  .loginImg1 {
    top: 0;
    margin-bottom: 4px;
    margin-right: -5px;
  }
  
  .showCase1 {    
    background-image: url(../../public/images/94e449903d81b7807265fac69a89d602.jpg);
    background-position: center;
    background-repeat: no-repeat;
    height: 920px; 
  }
  .find {
    display: grid;
    grid-template-columns: auto;
    margin: auto;
  }
  .find > div {
    justify-content: center;
  }
  .caption {
    margin-top: 300px;
  }
  .introTexth1 {
    height: 68px;
    font-family: Roboto;
    font-size: 53px;
    font-style: normal;
    font-weight: 400;
    line-height: 67px;
    letter-spacing: 0em;
    text-align: center;
    color: #ffffff;
    margin: 0;
  }
  .introTexth3 {
    height: 30px;
    font-family: Roboto;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: center;
    color: #ffffff;
    margin: 0;
  }
  .forms {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;  
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .inps {
    justify-content: center;
  }
  .miles {
    width: 540px;
    height: 38px;
    justify-content: right;
    background: #ffffff;
    border: 1px solid #ced4da;
    box-sizing: border-box;
    border-radius: 0px;
    margin-right: 30px;
    padding-left: 20px;
  }
  @media screen and (max-width: 1150px) { 
    .introTexth1{
      font-size: 40px;
    } 
    .submit {
      width: 416px;
     } 
    .miles {
      width: 193px;
     }   
  }
  @media screen and (min-width: 1150px) { 
    .submit {
      width: 1110px;
     }
    .zipcode {
      width: 540px;
     }  
  }
  
  .zipcode {
    justify-content: left; 
    height: 38px;
    background: #ffffff;
    border: 1px solid #ced4da;
    box-sizing: border-box;
    border-radius: 0px;
    padding-left: 20px;
  }
  .submit { 
    height: 38px;
    margin: auto;
    background: #e05433;
    border: 1px solid #e05433;
    box-sizing: border-box;
    border-radius: 0px;
    text-align: center;
    color: #ffffff;
  }
  .headIcon{
    padding-left: 2px;
  }
  .accountIcon{
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
  }
  .poligon{
    padding-bottom: 8px;
    padding-right: 10px;
  }
  #dropdown-content{ 
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 260px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    top: 56px;  
      padding: 10px 0 0 10px;
  }
  .dropdownWraper{
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
  }
  .updatePass h4,.logout h4{
    color: blueviolet;
    margin: 0;
    font-family: Roboto;
      font-size: 16px;
  }
  .logout h4:hover,.updatePass h4:hover{
    font-size: 16.2px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  }
  
  
  
  