  .showCase1 {    
    background-image: url(../../public/images/94e449903d81b7807265fac69a89d602.jpg);
    background-position: center;
    background-repeat: no-repeat;
    height: 920px; 
  }
  .find {
    display: grid;
    grid-template-columns: auto;
    margin: auto;
  } 
  .caption {
    margin-top: 300px;
  }
  .introTexth1 {   
    font-family: Roboto;    
    font-weight: 400;
    line-height: 67px;    
    text-align: center;
    color: #ffffff;
    margin: 0;
  }
  .introTexth3 {    
    font-family: Roboto;
    font-size: 19px;    
    font-weight: 400;
    line-height: 30px;    
    text-align: center;
    color: #ffffff;
    margin: 0;
  }
  .forms {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;    
    margin-top: 20px;
    margin-bottom: 20px;
  }   
  .miles {
    width: 540px;
    height: 38px;    
    border: 1px solid #ced4da;
    box-sizing: border-box;    
    margin-right: 30px;
    padding-left: 20px;
  }
  @media screen and (max-width: 1150px) { 
    .introTexth1{
      font-size: 40px;
    } 
    .submit {
      width: 416px;
     } 
    .miles {
      width: 193px;
     }   
  }
  @media screen and (min-width: 1150px) { 
    .submit {
      width: 1110px;
     }
    .zipcode {
      width: 540px;
     }  
  }
  
  .zipcode {    
    height: 38px;    
    border: 1px solid #ced4da;
    box-sizing: border-box;    
    padding-left: 20px;
  }
  .submit { 
    height: 38px;
    margin: auto;
    background: #e05433;
    border: 1px solid #e05433;
    box-sizing: border-box;   
    text-align: center;
    color: #ffffff;
  }
  